In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [4]:
#read_data
df_lgb = pd.read_csv('../03_result/testA_pred_lgb7370.csv')
df_xgb = pd.read_csv('../03_result/testA_pred.csv')
df_cat = pd.read_csv('../03_result/testA_pred_cat_cpu.csv')

In [10]:
df_cat

            id  isDefault
0       800000   0.044420
1       800001   0.128460
2       800002   0.139802
3       800003   0.125247
4       800004   0.143301
...        ...        ...
199995  999995   0.070297
199996  999996   0.029849
199997  999997   0.079713
199998  999998   0.131799
199999  999999   0.012458

[200000 rows x 2 columns]

In [17]:
df_tot = pd.concat([df_lgb['id'],df_lgb['0'],df_xgb['isDefault'],df_cat['isDefault']],axis = 1)
df_tot.columns = ['id','lgb','xgb','cat']

In [22]:
df_tot['isDefault'] = 0.1* df_tot.xgb + 0.1 * df_tot.lgb + 0.8 * df_tot.cat

In [23]:
df_tot[['id','isDefault']].to_csv('../03_result/testA_pred_stack1011.csv',index = False)